body{
    background-color: black;
    margin: 0px;
}
div.row div{
    display: inline-block;
    height: 20px;
    width: 20px;

}

div.brick{
    background-color: blue;
}
div.empty{
}
div.coin{
    background:url('images/coin.png');
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}
div#pacman{
    background:url('images/pacman.gif');
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    height: 20px;
    position: absolute;
    width: 20px;
}